<!--
  Generated template for the GamePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
		<ion-navbar color="primary">
				<ion-title>Answer In Step</ion-title>
			</ion-navbar>
		
	</ion-header>

<ion-content padding style="background-color: ivory;">




<ion-card>
 
  

		<ion-card-content style="text-align: -webkit-center">
        <div [@resultDiv]="resultDivAimation" class="numberDiv" id="resultMovingDiv">
            
           </div> 

           <div [@resultDiv1]="resultDivAimation1" class="numberDiv1" id="resultMovingDiv1">
              
             </div> 
           
             <div [@resultDiv2]="resultDivAimation2" class="numberDiv2" id="resultMovingDiv2">
                
               </div> 
        <div [@moveMarker]="marker" class="mark">
           
          </div> 

          <div [@moveFinalMarker]="finalMarker" class="finalMark" id="finalMark" >
              
             </div> 
 <!-- <table [@explainerAnim]= "!loading" (@explainerAnim.done) = "explainerAnimDone($event)" (@explainerAnim.start) = "explainerAnimStarted($event)">-->
    <table class="firstTable">
        <tr >
          <td  id="0">
            <div></div>
          </td>
          <td  id="car1"></td>
          <td  id="car2"></td>
          <td  id="car3"></td>
        </tr>
     </table>   

  <table class="middleTable" [@listAnimation]="tableRow.length" (@listAnimation.done) = "listAnimationDone($event)" >
		<tr	*ngFor="let row of tableRow; let rowIndex = index  " [@listAnimationCell]="tableCell.length">
				<td	 class="cell" *ngFor="let cell of tableCell; let  cellIndex = index;  " (click)="turnClick(rowIndex == 0 ? cell : rowIndex == 1 ? cell + rowIndex + 2  : cell + 6, $event) " >
            <div *ngIf="(rowIndex == 0 ? cell : rowIndex == 1 ? cell + rowIndex + 2  : cell + 6) == 3 && rowIndex == 1  " > +</div>
          <div   id="{{rowIndex == 0 ? cell : rowIndex == 1 ? cell + rowIndex + 2  : rowIndex == 0 ? cell + 6 : cell + 9}}"> 
             
          </div>
					</td>
					

		</tr>
		
  </table>

<table class="lastTable">
    <tr >
        <td  id="result1">
          
        </td>
        <td  id="result2"></td>
        <td  id="result3"></td>
        <td  id="result4"></td>
      </tr>
 </table>   



 <button ion-button (click)="first()" >First</button>
 <button ion-button (click)="sec()">Second</button>
 <button ion-button (click)="third()">Third</button>
 <button ion-button (click)="four()">Four</button>
 <button ion-button (click)="five()">Five</button>
 <button ion-button (click)="six()">Six</button>
 <button ion-button (click)="seven()">Seven</button>
 <button ion-button (click)="eight()">Eight</button>
 <button ion-button (click)="night()">night</button>
 <button ion-button (click)="ten()">Ten</button>
 <button ion-button (click)="eleven()">Eleven</button>
 <button ion-button (click)="twelve()">Twelev</button>
 <button ion-button (click)="thirteen()">Thirteen</button>
 <button ion-button (click)="fourTeen()">Fourteen</button>
 <button ion-button (click)="fifTeen()">fifteen</button>
 

<!--
<table>
		<tr >
			<td  id="0">
        <div></div>
      </td>
			<td  id="1"></td>
      <td  id="2"></td>
      <td  id="3"></td>
		</tr>
		<tr>
			<td  id="4"></td>
			<td  id="5">
          <div [@heightTrigger]="heightTrigger">
              4
            </div>
      </td>
      <td  id="6">
          <div  [@heightTrigger]="heightTrigger">
              6
            </div>
      </td>
      <td  id="7">
          <div  [@heightTrigger]="heightTrigger">
              7
            </div>
      </td>
		</tr>
		<tr>
			<td  id="8">
        +
      </td>
			<td  id="9">
          <div  [@heightTrigger]="heightTrigger">
              4
            </div>
      </td>
      <td  id="10">
          <div  [@heightTrigger]="heightTrigger">
              4
            </div>
      </td>
      <td  id="11">
          <div  [@heightTrigger]="heightTrigger">
              4
            </div>
      </td>
    </tr>
    <tr>
        <td  id="12"> </td>
        <td  id="13">  <div>
            4
          </div></td>
        <td  id="14">  <div>
            4
          </div></td>
        <td  id="15">  <div>
              4
            </div></td>
      </tr>
	</table>
-->
	
</ion-card-content>
</ion-card>




</ion-content>
